<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自己封装一个输入组件</title>
    <script src="js/vue.js"></script>
    <script>
        Vue.component("input-model", {
            props: ['value'],
            data: function () {
                return {}
            },
            template:
                `<table>
                        <th style="text-align: center" colspan="3">个人信息输入模板</th>
                        <tr>
                            <td><label for="name">姓名：</label></td>
                            <td colspan="2"> <input  id="name" type="text" v-model="model.name"></td>
                        </tr>
                         <tr>
                            <td><label for="">性别：</label></td>
                            <td>
                                <label for="boy">男</label>
                                <input id="boy" type="radio" v-model="model.sex" value="boy" >
                            </td>
                            <td>
                                <label for="girl">女</label>
                                <input id="girl" type="radio" v-model="model.sex" value="girl" >
                            </td>
                        </tr>
                </table>`,
        });
    </script>
</head>
<body>
    <div id="app">
        <input-model :model="inputData"></input-model>
        {{inputData.name}}:{{inputData.sex}}<br>
        {{alldata}}<br>
        
        
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                inputData: {
                    name: "perry",
                    sex: "boy"
                }
            },
            computed: {
                alldata: function () {
                    console.info("属性：" + this.inputData.name + ":" + this.inputData.sex);
                    return "姓名："+this.inputData.name+"，性别："+this.inputData.sex;
                }
            }
        });
    
    </script>

</body>
</html>